@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-image: url("Fotos/Cancha\ de\ padel.jpg");
    background-size: 100%;
    margin: 0;
}

.principalNav {
    margin: 20px 20px 20px 60%;
}

.principalNav p {
    text-align: center;
    background-color: rgb(217, 217, 217);
    padding: 30px;
    margin: 20px;
    margin-top: 7.5%;
}

.subt {
    font-size: 3em;
    text-decoration: none;
    color: black;
}

.principalNav p:hover {
    background-color: rgb(173, 173, 173);

}

#logo {
    width: 5%;
    position: relative;
    top: 30px;
    left: 20px;
}

#Logo_filtro {
    width: 3%;
    background-color: white;
}

#Logo_casa {
    width: 3%;
    background-color: white;
}

.pics {
    width: 15%;
    text-align: center;
    margin: 2%;
}

#uno {
    margin-left: 25%;
}

#dos {
    height: 320px;
}

header {
    background-color: rgb(114, 132, 166);

    h1 {
        text-align: center;
        color: black;
        font-family: "Oswald", sans-serif;
        font-size: 3em;
        margin-top: -30px;
    }

}

.superior {
    text-align: center;
}

.media {
    text-align: center;
}

#lonpa {
    width: 7.5%;
}

.inferior {
    text-align: center;
}

#zapa {
    width: 12.5%;
}

#zapa2 {
    width: 15%;
}

.pelotas {
    text-align: center;
}

.palas {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(114, 132, 166, 0.547);
    position: fixed;
    bottom: 0;
}

#whats {
    width: 5%;
    filter: contrast(100%);
    margin-bottom: 0.25%;
    margin-right: 3%;
}

#insta {
    width: 5%;
    filter: contrast(100%);
    margin-bottom: 1%;
    margin-right: 3%;
}

#mail {
    width: 5%;
    filter: contrast(50%);
}