@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    margin: 0;
    background-image: url("Fotos/Cancha\ de\ padel.jpg");
    background-size: 100%;
}


.navPrincipal{
    margin: 20px 20px 20px 60%;
}
.navPrincipal p{
    text-align: center;
    margin: 30px;
    background-color: bisque;
    padding: 20px;
}
.subt {
    text-decoration: none;
    color: black;
    font-size: 3em;
}

.navPrincipal p:hover {
    background-color: rgb(222, 178, 178);

}

#logo {
    width: 5%;
    position: relative;
    top: 50px;
    left: 20px;
}

#Logo_filtro {
    width: 3%;
}

#Logo_casa {
    width: 3%;
}

#whats {
    width: 7%;
}

#insta {
    width: 7%;
}

#mail {
    width: 7%;
}

.pics {
    width: 25%;
}

footer {
    text-align: center;
    background-color: rgba(38, 121, 176, 0.359);
    position: fixed;
    bottom: 0;
}

header {
    background-color: rgb(38, 121, 176);
    height: 80px;
}
h1 {
    text-align: center;
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    margin-top: -60px;
}

.superior {
    text-align: center;
}

.media {
    text-align: center;
}

.inferior {
    text-align: center;
}
